.show{
    border: solid 3px blue;
    height: 10vh;
    width: 100%;
}

.hide{
    opacity: 0;
    width: 1px;
    height: 1px;
}

table{
    width: 100%;
}

thead *{
    font-weight: 900;
}

td{
    padding: 5px;
}